@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
#nav{
    background: linear-gradient(to right, #000000, #000000);
    color: rgb(255, 255, 255);
    display: flex;
    position: fixed;
    width: 100%;
    padding: 1.5rem;
    align-items: center;
    z-index: 1;
}
span{
    font-size: 1.7rem;
}
/* left  */
.navleft p{
    font-size: 2.2rem;
    font-weight:600;
    margin-bottom: 10px;
}
.navleft p a:hover{
    opacity: 1;

}
.navleft p a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    transition: all 0.2s ease-in-out;
}
/* right  */
.navright{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.navright p{
    margin-bottom: 20px;
    font-size: 1.3rem;
    color: #56848f;
    font-weight: 1000;
}
.navright p a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    /* opacity: 0.5; */
    transition: all 0.2s ease-in-out;
}
.navright p a:hover{
    opacity: 1;
}

.list{
    list-style: none;
    display: flex;
}
.list a{
    margin-left: 20px;
    text-decoration: none;
    font-family:sans-serif;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    transition:all 0.2s ease-in-out;
}
.list a:hover{
    color: #56848f;
}

/* ABOUT SECTION STYLING */
#about{
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding-left: 10%;
    padding-top: 15%;
    padding-right: 1%;
    padding-bottom: 0;
    color: #293F50;
    font-weight: 600;
    width: 100%;
}
.aclub{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:200px ;
}
.left h1{
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.7;
}
.lists{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
}
.right img{
    width: 500px;
}
#footer{
    background-color: #000000;
    bottom: 0;
}
.top{
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 20px;
    align-items: center;
    width: 100%;
    padding: 2%;
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
}
.top p{
    opacity: 0.4;
}
.flinks{
    list-style: none;

}
.d1{
    width:100%;
}
.flinks a{
    text-decoration: none;
    opacity: 0.4;
    color: white;
    font-size: 1rem;
}
.line{
    background-color: white;
    opacity: 0.1;
    width: 100%;
    align-self: center;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.bottom{
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.bottom p{
    width: 100%;
    background-color: #09141d;
    padding: 20px;
    color: white;
    opacity: 0.4;
    font-weight: 600;
}
@media screen and (max-width:900px) {
    #home{
        padding-top:150px;
    }
    .container1{
        display: flex;
        flex-direction: column-reverse;
    }
    .container1 img{
        margin-bottom: 50px;
        width: 100%;
    }
    .container2{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .container2 img{
        margin-bottom: 50px;
        width: 90%;
    }
}

@media screen and (max-width:1140px) {
    .aclub{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media screen and (max-width:900px) {
    #home{
        padding-top: 150px;
    }
    .facultyco p{
        padding-left: 7px;
        padding-right: 7px;
    }
    .studentco p{
        padding-left: 7px;
        padding-right: 7px;
    }
    .container2{
        grid-template-columns: repeat(2,200px);
    }
}

@media screen and (max-width:650px) {
    .list{
        display: none;
    }
    #nav p{
        font-size: 1.7rem;
    }
    #nav span{
        font-size:1.5rem
    }
    .navright a{
        font-size: 1.2rem;
    }
    .top{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-row-gap: 50px;
    }
    .container1{
        grid-template-columns: repeat(1,200px);
        grid-row-gap: 50px;
    }
    .container2{
        grid-template-columns: repeat(1,200px);
        grid-row-gap: 50px;
    }
}

@media screen and (max-width:480px) {
        #nav{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:center ;
        }
        .navright{
            align-items: flex-start;
            margin: 0;
        }
        .navright p a{
            text-align: center;
        }
        #about{
            align-items: center;
        }
        #top{
            padding: 20px;
        }
}
